#logo {
  width: 100%;
}

#logo_cont {
  width: 15%;
  margin: 10px auto 0 auto;
}

#sottotitolo {
  background-color: #ffefd5;
  border-top: #ffa500 1px solid;
  margin-top: 10px;
  /* height: 4vh; */
  color: #006400;
  text-align: center;
  padding: 15px 0 15px 0;
}

/* #sottotitolo h5 {

   margin: 1% 0 1% 0; 
} */

#main {
  width: 70%;
  margin: 5vh auto;
}

#titolo {
  text-align: center;
}

#focaccia {
  width: 100%;
}

#focaccia_cont {
  width: 100%;
}

.focaccia {
  color: #dcdcdc;
  margin: 0;
  text-align: center;
}

.feature {
  margin: 1.5em 0 2em 0;
  border-left: #ffa500 3px solid;
}

.feature p {
  margin: 0 0 0 1em;
}

.first_p {
  font-weight: bold;
  color: #ff4500;
}

.type_desc {
  margin-top: 2em;
  border-bottom: #e6e6fa 1px solid;
}

.list_p {
  padding-left: 50px;
}
